p{
    color:rgb(255, 255, 255);
    font-size:16pt;
}
body{
    color:cyan;
    background-color:rgb(106, 99, 204);
}
div

{
    font-size:large;
    max-width: 800px;
    margin: auto;
}


    img {
        width: 50%;
        height: auto;
}


